
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

.btn-primary{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 17px 24px 17px 24px;
}

.header{
    background-image: url(../assets/Hero-bg.png);
    margin-top: 50px;
    margin-bottom: 0;
    height: 652px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px ;
}

.head-title {
    font-weight: 800;
    font-size: 28px;
}

nav ul li {
    list-style: none;
    margin: right;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.banner{
    text-align: center;
    line-height: 30px;
    align-items: center;
    line-height: 20px;

}

.banner-title{
    color: rgb(13, 19, 33);
    font-size: 50px;
    font-weight: 800;
    line-height: 68px;
    padding: 10px 50px 7px;
    line-height: 80px;
}

.banner-text{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    line-height: 100px;
}

.btn-sec{   
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 17px 24px 17px 24px;

}
.group{
    justify-content: space-evenly;
    position: relative;
    margin-top: 20px;

}

main{
    max-height: 1395px;
    margin: 0 auto;
    padding: 80px 97px;
}

.section-title{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 40px;
}

.section-description{
    font-size: 20px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    opacity: 0.7;
    margin-bottom: 40px;

}

.secendary-bg{
   background-color: rgba(13, 19, 33, 0.02);
}

.about{
    border-radius: 16px;
    padding: 100px 150px;
    text-align: center;
}

.top-inspo{
    /* Frame 15 */
    position: absolute;
    width: 1140px;
    margin: 0;
}

.Inspo{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding-top: 20px;
}

.inspo-title{
    color: #6c6b6b;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0;
    text-align: center;
    
}
.first-row{
    width: 946px;
    height: 200px;
    padding: 48px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.row{
    max-width: 477px ;
    padding: 0;
    text-align: left;
}
.coding{
    max-width: 320px;
    line-height: 30px;
    color: #0D1321;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}
.coding-description{
    font-size: 18px;
    font-weight: 400;
    color: #6c6b6b;
}
.code-btn{
    margin: 20px 0;
}

.second-row{
    width: 946px;
    height: 230px;
    padding: 48px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.video{
    /* Rectangle 1 */
    position: static;
    width: 1320px;
    height: 800px;
/* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self:center;
    flex-grow: 0;
    margin-right: 30px;
    border-radius: 16px;
}

.current-target{
    margin-top: 1000px;
   
    

}

.target-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;   
}

.target-description{
    font-size: 20px;
    font-weight: 400;
    color:#6c6b6b;
    margin-top:20px ;
    text-align: center;

}

.target-box{
    display: flex;
    text-align: center;
    padding: 50px 120px;
    gap: 24px;
}

.target{
    padding: 50px;
    width: 240px;
    text-align: left;
}
.target-head{
    padding: 15px 0px;
}

.target-btn{
    margin-top: 15px;
    border: none;
    text-decoration: underline;
    font-weight: 600;
    background: none;
}
.html-background{
    background-color: rgba(255, 76, 30, 0.05);
}

.css-background{
    background-color: rgba(0, 76, 232, 0.05);
}
.jv-background{
    background-color: rgba(255, 223, 0, 0.05);
}

footer{
    padding-top: 1400px;
}

#hand-shake{
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),
    url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
#hand-shake .support .support-subtitle{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    
}

#hand-shake .support .support-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;

}


#hand-shake .support form{
    position: static;
    margin-top: 10px;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    border-radius: 5px;
}

#hand-shake .support input{
    width: 548px;
height: 10px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 20px;
margin: 7px 16px 0px;

}

#hand-shake .support button{
width: 120px;
height: 58px;
border: none;
border-radius: 8px;
padding: 5px;
background-color: white;

color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}
